* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* .row {
    max-width: 960px;
    margin: 0 auto;
} */

i {
    color: red;
    opacity: 60%;
}

.search_icon i {
    color: white;
}

.telephone_icon img {
    width: 30px;
}

.banner {
    background-image: url('./images/01_Home_v2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.banner_button {
    margin-top: 50px;
}

.about p:nth-of-type(1) {
    color: red;
    opacity: 75%;
}

.check_list img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.services p:nth-of-type(1) {
    color: red;
    opacity: 75%;
    font-weight: normal;
}

.grid_img img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.fa-arrow-right {
    color: black;
}


/* .learn_button {
    float: right;
} */

.services .bg-dark {
    position: relative;
}

.choose_us {
    position: absolute;
    top: 455%;
    left: 5%;
    z-index: 1;
}

.cure_img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.choose_text {
    width: 50%;
    height: 70%;
}


/* .row {
    margin: 0 auto;
} */

.text {
    color: gray;
}

.lorem_text {
    color: gray;
}